GITHUB_OAUTH_CLIENT_ID=your_github_oauth_client_id
GITHUB_OAUTH_CLIENT_SECRET=your_github_oauth_client_secret
GITHUB_OAUTH_SCOPE=read:user repo
BRIDGE_AUTH_TOKEN=your_bridge_bearer_token
VITE_BRIDGE_AUTH_TOKEN=your_bridge_bearer_token
BRIDGE_DATA_DIR=.flowize-bridge
BRIDGE_ALLOWED_ORIGIN=http://localhost:3000,http://192.168.1.190:3000,http://100.x.y.z:3000
BRIDGE_LOG_LEVEL=info
